body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  color: white;
  background: #101010;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

canvas {
  overflow: hidden;
}
